		</section>
		<!-- Footer -->

		<footer id="footer">
       <p><a href="/index.html"><img src="/img/logoAlt.png" class="logoAlt" alt="Hjem" /></a></p>
		  <ul class="icons">
					<li><a class="pushLink" href="page-ryttersprangetvest.html">Rytterspranget Vest</a></li>
				  <li><a class="pushLink" href="page-omradet.html">Området</a></li>
				  <li><a class="pushLink" href="page-hytter.html">Hytter</a></li>
				  <li><a class="pushLink" href="page-kontakt.html">Kontakt</a></li>
				  <li><a class="pushLink" href="/gautefallbloggen/feed.xml">RSS</a></li>          
				  <li><a class="pushLink" href="https://www.facebook.com/gautefalltomter" target="_blank"><img class="loype-i icon-i" src="/img/facebook-i.png" alt="Epost" />Facebook</a></li>
				</ul>
				<ul class="copyright">
					<li>Profil / web av <a class="pushLink" href="http://edisonmenlo.no">Edison Menlo.</a></li>
				</ul>
			</footer>

	</body>
</html>
