<footer class="site-footer fullrow" role="contentinfo">
	<div class="row">
		<div class="small-12 columns">
				<img src="./img/greenline.png" alt="Skillelinje" />
		</div>
	</div>
          	<div class="row nopaddTop">
	          	<div class="medium-4 columns logoColumn">
		          	<p><a href="/index.html"><img src="./img/logoAlt.png" class="logoAlt" alt="Hjem" /></a></p>
		          		          	</div>
	          	<div class="medium-4 columns">
		          	<ul>
						<li><a class="pushLink" href="page-ryttersprangetvest.html">Rytterspranget Vest</a></li>
						<li><a class="pushLink" href="page-gautefalltunet.html">Gautefalltunet</a></li>
						<li><a class="pushLink" href="page-omradet.html">Området</a></li>
						<li><a class="pushLink" href="page-hytter.html">Hytter</a></li>
						<li><a class="pushLink" href="page-kontakt.html">Kontakt</a></li>
						<li><a class="pushLink" href="https://www.facebook.com/gautefalltomter" target="_blank"><img class="loype-i icon-i" src="./img/facebook-i.png" alt="Epost" />Facebook</a></li>
		          	</ul>
	          	</div>
	          	<div class="medium-4 columns">
				  	<p>&copy; 2014 - Fjelltomter<br />Profil/web av <a class="pushLink" href="http://edisonmenlo.no">Edison Menlo.</a></p>
				  	<p><a href="http://www.visittelemark.no/" target="_blank"><img src="./img/Telemark_kvalitetsmerke_negativ_RGB.jpg" alt="Visit Telemark" /></a></p>

				  	<p><a class="pushLink smoothScroll" href="#toppen">Til toppen</a></p>
	          	</div>
          	</div>
        </footer>


    <!-- Loading JavaScripts
    ================================================== -->
    <!-- Zepto (http://zeptojs.com/) is great, but I am sticking with jQuery. Sorry! -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bower_components/jquery/jquery.js"><\/script>')</script>
    <script src="js/plugins.js"></script>

    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="bower_components/Snap.svg/dist/snap.svg-min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/smoothscroll.js">

    
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57477544-1', 'auto');
  ga('send', 'pageview');

</script>


  </body>
</html>
