	<!-- Knappen  -->
	<a href="#" data-reveal-id="nyhet1" class="radius button newsButton">Aktuelt: 
	<!-- Knapp-tittel -->
	<span>Visning i vinterferien</span></a>
	
	<!-- Boks som åpnes når man trykker på knapp -->
	<div id="nyhet1" class="reveal-modal" data-reveal>
		<h4>Aktuelt:</h4>
		
		<!-- Tittel -->
		<h3>Visning i vinterferien</h3>
		
		<!-- Innholdstekst -->
		<p>Jeg er tilgjengelig for å vise dere rundt i de to flotte hyttefeltene på Gautefall hele vinterferien. Vi har også fått satt opp en visningshytte av typen Himmelriket, slik at du kan få dyppe tåa i hyttedrømtjernet.</p>
		
		<!-- Dato -->
		<p class="smallText">21. januar 2015</p>
				
  <a class="close-reveal-modal">&#215;</a>
</div>