<div class="row newsWrap animated fadeInUp">
	<div id="containerCircle">
		<div class="dot"></div>
		<div class="pulse"></div>
	</div>
	<div class="newsAlert">
		<a href="#" data-reveal-id="firstModal" class="radius button newsButton">Aktuelt: 
		<span>Visning i vinterferien</span></a>
		<div id="firstModal" class="reveal-modal" data-reveal>
			<h4>Aktuelt:</h4>
			<h3>Visning i vinterferien</h3>
			<p>Jeg er tilgjengelig for å vise dere rundt i de to flotte hyttefeltene på Gautefall hele vinterferien. Vi har også fått satt opp en visningshytte av typen Himmelriket, slik at du kan få dyppe tåa i hyttedrømtjernet.</p>
			<p class="smallText">21. januar 2015</p>
		  <a class="close-reveal-modal">&#215;</a>
		</div>
	</div>
</div>