


<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="logo">
      <a href="index.html"><img data-interchange="[../img/logo.png, (default)], [../img/logo2x.png, (retina)]">
<noscript><img src="./img/logo.png"></noscript></a>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Meny</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="{% if page.title == "Gautefalltunet" %}activeLi{% endif %}"><a class="buttons" href="page-gautefalltunet.html">Gautefalltunet</a></li>
<li class="{% if page.title == "Rytterspranget Vest" %}activeLi{% endif %}"><a class="buttons" href="page-ryttersprangetvest.html">Rytterspranget Vest</a></li>
<li class="{% if page.title == "Området" %}activeLi{% endif %}"><a class="buttons" href="page-omradet.html">Området</a></li>
<li class="{% if page.title == "Hytter" %}activeLi{% endif %}"><a class="buttons" href="page-hytter.html">Hytter</a></li>
<li class="{% if page.title == "Kontakt" %}activeLi{% endif %}"><a class="buttons" href="page-kontakt.html">Kontakt</a></li>
    </ul>
  </section>
</nav>